.main{
    background-color: #fbeff6;
    padding-bottom: 50vh;
}
h1{
    text-align: center;
}
.form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    border: 2px solid #d04296;
    box-shadow: 3px 3px 2px;
    padding: 20px;
    border-radius: 10px;
}
.pass-input{
    width: 300px;
}
.btn{
    border: 1px solid #d04296;
    margin-top: 30px;
    transition: background-color 0.3s;
}
.btn:hover{
    cursor: pointer;
    background-color: #ebb1d4;
}
@media only screen and (max-width: 992px){
    .form{
        margin-left: 10%;
        margin-right: 10%;
    }
}